@import '../../styles/colors.scss';

.main {
    &-block {
        width: 1820px;
        height: 880px;
        border-radius: 10px;
        background-color: $background-color-block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &-title {
            font-weight: 900;
            font-size: 250px;
            position: relative;
            display: inline-block;
            will-change: transform, opacity;
            &::after {
                transform: translate(45px, -30px);
                content: '';
                position: absolute;
                width: 144px;
                height: 15px;
                background-color: currentColor;
                bottom: 0.72em; // Позиционирование относительно высоты текста
                right: 0.42em; // Позиция от правого края текста
            }
        }
    }
}