
$light-background: #ffffff;
$light-text: #000000;
$light-text-secondary: #666666;
$light-border: #eeeeee;
$light-accent: #000000;


$dark-background: #121212;
$dark-text: #ffffff;
$dark-text-secondary: #aaaaaa;
$dark-border: #333333;
$dark-accent: #ffffff;

:root {
  --background: #{$light-background};
  --text: #{$light-text};
  --text-secondary: #{$light-text-secondary};
  --border: #{$light-border};
  --accent: #{$light-accent};
  --text-transparent: rgba(0, 0, 0, 0.3);
  --text-shadow: rgba(0, 0, 0, 0.3);


  --inverse-background: #{$dark-background};
  --inverse-text: #{$dark-text};
  --inverse-text-secondary: #{$dark-text-secondary};
  --inverse-border: #{$dark-border};
  --inverse-accent: #{$dark-accent};
}

[data-theme="dark"] {
  --background: #{$dark-background};
  --text: #{$dark-text};
  --text-secondary: #{$dark-text-secondary};
  --border: #{$dark-border};
  --accent: #{$dark-accent};
  --text-transparent: rgba(255, 255, 255, 0.3);
  --text-shadow: rgba(255, 255, 255, 0.3);


  --inverse-background: #{$light-background};
  --inverse-text: #{$light-text};
  --inverse-text-secondary: #{$light-text-secondary};
  --inverse-border: #{$light-border};
  --inverse-accent: #{$light-accent};
}