// Светлая тема
$light-background: #ffffff;
$light-text: #000000;
$light-text-secondary: #666666;
$light-border: #eeeeee;
$light-accent: #000000;

// Темная тема
$dark-background: #121212;
$dark-text: #ffffff;
$dark-text-secondary: #aaaaaa;
$dark-border: #333333;
$dark-accent: #ffffff;

:root {
  --background: #{$light-background};
  --text: #{$light-text};
  --text-secondary: #{$light-text-secondary};
  --border: #{$light-border};
  --accent: #{$light-accent};

  /* Inverse theme colors (dark theme colors in light mode) */
  --inverse-background: #{$dark-background};
  --inverse-text: #{$dark-text};
  --inverse-text-secondary: #{$dark-text-secondary};
  --inverse-border: #{$dark-border};
  --inverse-accent: #{$dark-accent};
}

[data-theme="dark"] {
  --background: #{$dark-background};
  --text: #{$dark-text};
  --text-secondary: #{$dark-text-secondary};
  --border: #{$dark-border};
  --accent: #{$dark-accent};

  /* Inverse theme colors (light theme colors in dark mode) */
  --inverse-background: #{$light-background};
  --inverse-text: #{$light-text};
  --inverse-text-secondary: #{$light-text-secondary};
  --inverse-border: #{$light-border};
  --inverse-accent: #{$light-accent};
}