
@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Thin.woff2') format('woff2'),
         url('Nohemi-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-ExtraLight.woff2') format('woff2'),
         url('Nohemi-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Light.woff2') format('woff2'),
         url('Nohemi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Regular.woff2') format('woff2'),
         url('Nohemi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Medium.woff2') format('woff2'),
         url('Nohemi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-SemiBold.woff2') format('woff2'),
         url('Nohemi-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Bold.woff2') format('woff2'),
         url('Nohemi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-ExtraBold.woff2') format('woff2'),
         url('Nohemi-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nohemi';
    src: url('Nohemi-Black.woff2') format('woff2'),
         url('Nohemi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}